body {
    background-color: #C0C5C1;
    color: #131016;
}
h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 80px;
}
h2 {
    text-align: center;
    font-size: 20px;
}
a {
    color: white;
}
p {
    padding: 15px;
    width: 800px;
    margin: auto;
}
hr {
    width: 60vw;
}
img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: block;
    width: 15vw;
}
.caption {
    text-align: center;
    padding: 10px;
}
.divide {
    margin-top: 80px;
}
.row {
    padding: 5px;
}
.medium {
    width: 37vw;
}
.content {
    display: flex;
}
.column {
    flex: 33%;
}
.box {
    flex: 40px;
    text-align: center;
    margin: 60px;
    border: black solid 2px;
    background-color: white;
    overflow-y: auto;
    max-height: 300px;
}
.book {
    border-bottom: black solid 1px;
    padding: 10px;
}
.last-book {
    padding: 10px;
}
.scripture {
    padding: 30px;
}
.main-pic {
    transform: rotate(90deg);
    width: 50%;
    padding: 20px;
    margin-bottom: 100px;
}
.gray {
    background-color: #443850;
}
footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 30px;
    background-color: #898B49;
}